  #contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
    
  }
  
  button {
    color: white;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: fle;
  }
  
  .contact-item {
    margin-bottom: 1em;
  }
  
  button {
    margin-top: 1em;
  }
  