/* Code sourced from w3schools: https://www.w3schools.com/howto/howto_css_responsive_iframes.asp */

#download-button {
	margin-bottom: 10px !important;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

#iframe-container {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 100%;
}

@media (max-width: 768px) {
	.contentcontainer {
		padding: 0.5rem;
	}

	h1 {
		font-size: 2rem;
	}

	button {
		padding: 0.5em 1em;
		font-size: 0.9em;
	}

	#iframe-container {
		padding-top: 0%;
		height: 0;
	}
}
